<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOT</title>
    {% load static %}
    <script src="{% static 'jQuery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'jQuery/Start.js' %}"></script>
    <script src="{% static 'jQuery/Comments.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Start.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Comments.css' %}">
</head>
<body>

<div id="Welcome">
    <div id="icon"></div>
    <div id="title">Intelligent Media Auto Manager</div>
    <br/>
    <br/>
</div>

<div id="Main">
    <div id="Menu">
        <a href="{% url 'Exit' %}">
            Exit
        </a>
    </div>

    <div id="Content">
        <h2>Comments Setting</h2>
        <form action="/AddSingleComment/" method="post">
            {% csrf_token %}
            <h3><strong>Add Comment</strong></h3>
            <hr />
            <input type="text" placeholder="Your comment..." name="comment" id="single_comment">
            <input type="text" value="Add Comment" class="inactive_button" id="single_comment_submit"><br/>
            <a href = "{% url 'Clear' %}" class="launch">Clear Comments</a>
        </form>

        <form action="/CommentsAdd/" method="post">
            {% csrf_token %}
            <h3><strong>Comments to Add</strong></h3>
            <hr/>
                {% for comm in comments %}
                    <input type="text" value='"{{comm}}"' name="comments_to_add" id="comments_to_add">
                {% endfor %}
            <h3><strong>Author</strong></h3>
            <hr/>
            <input type="text" placeholder="Place your name here..." name="author_name" id="author_name">
            <label id="author_error"></label>
            <br/>

            <h3><strong>Description</strong></h3>
            <hr/>
            <input type="text" placeholder="Your description of the comment setting..." name="description">
            <br/>

            <h3><strong>Tags</strong></h3>
            <hr/>
            <input type="text" placeholder="Place your tags here..." name="tags">
            <br/>

            <h3><strong>Added</strong></h3>
            <hr/>
            <table name="settings">
                <tr id="header">
                    <td class="id">ID</td>
                    <td class="author">Author</td>
                    <td class="description">Description</td>
                    <td class="tags">Tags</td>
                    <td class="comment">Comments</td>
                </tr>
                <tr>
                    <td>{{id}}</td>
                    <td>{{author_name}}</td>
                    <td>{{description}}</td>
                    <td>
                        {% for setting in commentsSet %}
                            {% for tag in setting.mandatory_words %}
                            #{{tag}}
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for setting in commentsSet %}
                            {% for comment in setting.comments %}
                                "{{comment}}"<br />
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <input type="Submit" value="Add Comment Set" class="launch">
        </form>
    </div>
</div>
</body>
</html>