<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOT</title>
    {% load static %}
    <script src="{% static 'jQuery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'jQuery/functions.js' %}"></script>
    <script src="{% static 'jQuery/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Functions.css' %}">
</head>
<body>

<div id="Welcome">
    <div id="icon"></div>
    <div id="title">BOT CONTROLLER</div>
    <br />
    <br />
    <h3>
        WELCOME <strong>{{login}}</strong>!
    </h3>
</div>

<div id="Main">
    <div id="Menu">
        <a href="{% url 'Main' %}">
            Main
        </a>
        <br/>

        <a href="{% url 'Statistics' %}">
            Statistics
        </a>
        <br/>

        <a href="{% url 'Functions' %}">
            Functions
        </a>
        <br/>

        <a href="{% url 'Exit' %}">
            Exit
        </a>
    </div>

    <div id="Content">
        <h2>Functions</h2>
            <hr />
            <div class="functions">
                <div id="left">
                    <p>
                        <strong>Turn All</strong><br />
                        Turns all functions at once.
                    </p>

                    <p>
                        <strong>Follow</strong><br />
                        Sets Bot to find and follow random people.
                    </p>

                    <p>
                        <strong>Like</strong><br />
                        Sets Bot to find and like pictures of random people.
                    </p>

                    <p>
                        <strong>Comment</strong><br />
                        Sets Bot to find and comment pictures of random people.
                    </p>
                </div>

                <div id="right">
                    <p>
                    <div id="turnAll">
                        <div id="dot1"></div>
                    </div>
                    </p>

                    <p>
                    <div id="Follow">
                        <div id="dot2"></div>
                    </div>
                    </p>

                    <p>
                    <div id="Like">
                        <div id="dot3"></div>
                    </div>
                    </p>

                    <p>
                    <div id="Comment">
                        <div id="dot4"></div>
                    </div>
                    </p>
                </div>
    </div>
    </div>
</div>
</body>
</html>