<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOT</title>
    {% load static %}
    <script src="{% static 'jQuery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'jQuery/functions.js' %}"></script>
    <script src="{% static 'jQuery/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Functions.css' %}">
</head>
<body>

<div id="Welcome">
    <div id="icon"></div>
    <div id="title">BOT CONTROLLER</div>
    <br />
    <br />
    <h3>
        WELCOME <strong>{{login}}</strong>!
    </h3>
</div>

<div id="Main">
    <div id="Menu">
        <a href="{% url 'Start' %}">
            Main
        </a>
        <br/>

        <a href="{% url 'Statistics' %}">
            Statistics
        </a>
        <br/>

        <a href="{% url 'Functions' %}">
            Functions
        </a>
        <br/>

        <a href="">
            Exit
        </a>
    </div>

    <div id="Content">
        <h2>Functions</h2>
            <hr />
            <div class="functions">
                <div id="left">
                    <form action="/like/" method="post">
                        <strong>Like Photos By Tags</strong><br />
                        <input type="text" placeholder="tag1 tag2 tag3" id="tag">
                        <input type="text" placeholder="Probability in % ex.: 20" id="probability">
                        <input type="Submit" value="TURN">
                    </form>
                </div>
            </div>
    </div>
</div>
</body>
</html>