<!DOCTYPE html>
<html>
    <head>
        <title>BOT</title>
        <script src="static/jQuery/jquery-3.6.0.min.js"></script>
        <script src="static/jQuery/jquery-ui.min.js"></script>
        <script src="static/jQuery/home.js"></script>
        <link rel="stylesheet" type="text/css" href="static/login.css">
    </head>
    <body>
    <section id="main">
        <div id="header">
            <h2>Bot Logger</h2>
        </div>

            <form action="/Controller/" method="post">
                {% csrf_token %}
                    <input type="text" class="label" name="username" placeholder="USERNAME">
                    <br />
                    <br />
                    <input type="password" class="label" id="pass" name="password" placeholder="PASSWORD">
                    <input type="checkbox" class="checkbox"> Show Password
                    <input type="submit" class="logButton" value="LOGIN">
                    <p>
                        Not Registered?<a href="https://www.instagram.com/accounts/emailsignup/">Create an Account</a>
                    </p>
            </form>
    </section>
    </body>
</html>