<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOT</title>
    {% load static %}
    <script src="{% static 'jQuery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'jQuery/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Main.css' %}">
</head>
<body>

<div id="Welcome">
    <div id="icon"></div>
    <div id="title">BOT CONTROLLER</div>
    <br />
    <br />
    <h3>
        {{ alert }}
        WELCOME <strong>{{ login }}</strong>!
    </h3>
</div>

<div id="Main">
    <div id="Menu">
        <a href="{% url 'Start' %}">
            Main
        </a>
        <br/>

        <a href="{% url 'Statistics' %}">
            Statistics
        </a>
        <br/>

        <a href="{% url 'Functions' %}">
            Functions
        </a>
        <br/>

        <a href="">
            Exit
        </a>
    </div>

    <div id="Content">
        <h2>Main Page</h2>
        <hr/>
        <p>
            <h4>Congratulations! You successfully logged in!</h4>
        </p>
    </div>
</div>
</body>
</html>