<!DOCTYPE html>
<html>
    <head>
        <title>BOT</title>
        <script src="jquery-3.6.0.min.js"></script>
        <script src="jquery-ui.min.js"></script>
        <script src="popup.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <button onClick="location.href='{% url 'script' %}'">Execute Script</button><hr />
        {% if data %}
        {{data | safe}}
        {% endif %}

        <form action="/external/" method="post">
            {% csrf_token %}
            Input Text:
            <input type="text" name="login">
            <input type="text" name="password">
            {{data_external}}<br /> <br />
            {{login_data}}
            <br />
            {{password_data}}
            <input type="submit" value="Submit Data">
        </form>
    </body>
</html>